APP_ENV=production
APP_DEBUG=false

APP_NAME="Kronos API"

API_ADMIN_SETUP_KEY=replace-with-a-long-random-secret

JWT_ISSUER=kronos-api
JWT_AUDIENCE=kronos-api-clients
JWT_ACCESS_TTL=3600
JWT_PRIVATE_KEY=storage/keys/jwt-private.pem
JWT_PUBLIC_KEY=storage/keys/jwt-public.pem

DB1_HOST=replace-with-database-host
DB1_USER=replace-with-database-user
DB1_PASSWORD=replace-with-database-password
DB1_NAME=replace-with-database-name
DB1_PORT=3306
